<%- include('partials/header')%>

<div
  class="w-100 h-100"
  style="
    background-image: url(https://www.jonesday.com/-/media/images/publications/2020/09/health-care-on-the-other-side-physician-compensation-models-in-a-postcovid19-landscape/articleimage/healthcareontheothersidewpbanner_2000905_s.jpeg?rev=e28c6163b6484e40920318556d43a2d6&h=800&w=1600&la=en&hash=EB9950B1CE8314E1CBDF8571697B72CE);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  "
>
  <div
    class="overlay w-100 h-100 p-4"
    style="background-color: rgba(0, 0, 0, 0.1)"
  >
    <%- include('partials/navProfilePatient')%>
    <form
      class="m-auto w-25 rounded p-3"
      style="background: rgba(255, 255, 255, 0.6)"
      action="/patient/editpatient"
      method="post"
      enctype="multipart/form-data"
      onsubmit="return validateForm()"
    >
    
      <h1 class="mb-4 text-center">Edit Profile</h1>
      <div class="d-flex justify-center">
        <img
          src="/images/<%=patient.avatar%>"
          style="height: 8vmin; width: 9vmin"
          class="mx-auto mb-3 rounded-circle object-fit-fill border border-dark"
          alt="Image"
        />
      </div>
      <input type="file" class="form-control mb-3" name="avatar" />
      <hr class="form-control">
      <input
        class="form-control mb-3"
        type="text"
        placeholder="Name"
        name="username"
        value="<%=patient.username%>"
      />
      <input
        class="form-control mb-3"
        type="text"
        placeholder="Name"
        name="email"
        value="<%=patient.email%>"
      />
      <input
        class="form-control mb-3"
        type="Number"
        placeholder="Age"
        name="age"
        value="<%=patient.age%>"
      />
      <select class="form-control mb-3" name="gender" id="">
        <option value="male" <% if (patient.gender === 'male') { %>selected<% } %>>Male</option>
        <option value="female" <% if (patient.gender === 'female') { %>selected<% } %>>Female</option>
        <option value="other" <% if (patient.gender === 'other') { %>selected<% } %>>Other</option>
      </select>
      <input
        class="form-control mb-3"
        type="Number"
        placeholder="Contact Number"
        name="contact"
        value="<%=patient.contact%>"
      />
      <% if (msg && msg.length>0) { %>
        <div class="alert alert-success mt-3 alert-msg" role="alert">✅ <%=msg%></div>
        <%} %>
      <div class="d-flex justify-content-center">
        <button class="btn m-auto btn-success" type="submit">Update</button>
      </div>
      
    </form>
    <div class="d-flex w-25 justify-content-between mx-auto mt-3">
      <a href="/patient/changePassword"><button class="btn-danger btn ">Change Password</button></a>
      
      <button class="btn-danger btn deleteBtn">Delete Id</button>
      
    </div>
  </div>
</div>
<script>
  
  const validateForm = () => {
    const nameInput = document.querySelector('input[name="name"]');
    const ageInput = document.querySelector('input[name="age"]');
    const genderSelect = document.querySelector('select[name="gender"]');
    const contactInput = document.querySelector('input[name="contact"]');

    if (nameInput.value.trim() === "") {
      alert("Name is required.");
      return false;
    }

    if (ageInput.value.trim() === "") {
      alert("Age is required.");
      return false;
    }

    if (genderSelect.value === "") {
      alert("Gender is required.");
      return false;
    }

    if (contactInput.value.trim() === "") {
      alert("Contact Number is required.");
      return false;
    }
    return true;
  };


  const deleteBtn = document.querySelector('.deleteBtn')
  deleteBtn.addEventListener('click', () => {
  console.log('Delete button clicked');
  const confirmed = window.confirm('Are you sure you want to delete your Id?');
  if (confirmed) {
    console.log('User confirmed deletion');
    window.location.href = '/patient/deletePatient';
  } else {
    console.log('User canceled deletion');
  }
});


  
</script>
<%- include('partials/footer')%>
